<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifeix.football.games.module.competition.mapper.CompetitionMapper">


	<resultMap type="com.lifeix.football.games.model.Competition" id="competitionMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="startTime" property="startTime"/>
		<result column="endTime" property="endTime"/>
		<association property="competitionCategory" column="competitionCategoryId" select="com.lifeix.football.games.module.competition.mapper.CompetitionCategoryMapper.findOne"></association>
	</resultMap>
	
	<!--封装coach表中保存的数据 -->
	<select id="findOne"  resultMap="competitionMap">
		select * from competition where id=#{id}
	</select>
	
	<select id="findSimpleOne"  resultType="competitionInfo">
		select * from competition where id=#{id}
	</select>
</mapper>