<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.lifeix.football.games.module.player.mapper.PlayerNationalRecordMapper">
	<select id="findOne" resultType="playerNationalRecord">
		select * from player_nationalrecord where playerid=#{id}
	</select>
</mapper>