<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifeix.football.games.module.referee.mapper.RefereeMapper">


	<!--封装referee表中保存的数据 -->
	<select id="findOne" resultType="referee">
		select * from referee where id=#{id}
	</select>

	<select id="list" resultType="referee">
		select * from referee where level=#{0} 
		 order by 
		 find_in_set(category,'11人制,5人制,沙滩足球'),
		 find_in_set(sex,'男，女'),
		 find_in_set(function,'chief,assistant')
		limit #{1}, #{2}
	</select>

	<select id="findByMathchId"
		resultType="referee">
		SELECT
		referee.*, match_referee.position
		FROM
		match_referee
		JOIN referee ON match_referee.refereeid = referee.id
		AND match_referee.matchid = #{0}
	</select>
</mapper>